﻿@model RegistrationAndLogin.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>JegErs</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Deterge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <!-- Custom-Stylesheet-Links -->
    <!-- Bootstrap-CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Font-awesome-CSS -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Index-Page-CSS -->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom-Stylesheet-Links -->
    <!--web-fonts-->
    <!-- Logo-font -->
    <link href="//fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700" rel="stylesheet">
    <!-- Body-font -->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Headings-font -->
    <link href="//fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet">
    <!--//web-fonts-->
    <!--//fonts-->
    <!-- js -->
</head>
<body style="text-align:center">
    <div class="inner-banner-w3layouts">
        <div class="demo-inner-content">
            <!--/header-w3l-->
            <div class="header-w3-agileits" id="home">
                <div class="w3-header-bottom">
                    <div class="container">
                        <h1><a href="@Url.Action("Index", "Home")"><span class="letter">J</span>egErs<span class="square"></span></a></h1>
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--//header-w3l-->
            </div>
        </div>
    </div>

    <h1 class="tittles-w3agileits" style="margin-top:10px"><span style="color:red">R</span>eset <span style="color:gold">P</span>assword</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="overflow-x:hidden">
            <hr />
            <div class="text-success">
                @ViewBag.Message
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.NewPassword)
            <div class="form-group">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control-static", @style = "text-align:center; width:350px; background-color:F6FCFF; border-left: 4px solid #22BCFF", @placeholder = "New Password" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.ConfirmPassword)
            <div class="form-group">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control-static", @style = "text-align:center; width:350px; background-color:F6FCFF; border-left: 4px solid #22BCFF", @placeholder = "Confirm New Password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.HiddenFor(a => a.ResetCode)
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" style="background-color:blue; color:white" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>
    @section Scripts{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
    <!--@Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")-->

    @Html.Partial("Footer")
</body>
</html>