﻿﻿@model IEnumerable<JegErs.Tbl_Banner>

@{
    ViewBag.Title = "Banner";
}

@if (Session["Username"] == null)
{
    if (Session["Role"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>JegErs</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Deterge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
    <div class="inner-banner-w3layouts">
        <div class="demo-inner-content">
            <!--/header-w3l-->
            <div class="header-w3-agileits" id="home">
                <div class="w3-header-bottom">
                    <div class="container">
                        <h1><a href="@Url.Action("Index", "Home")"><span class="letter">J</span>egErs<span class="square"></span></a></h1>
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="first-list"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        @if (Session["Username"] != null)
                                        {
                                            if (Session["Role"].ToString() == "SuperAdmin")
                                            {
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Master Data<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("ChangeKgPrice", "SuperAdmin")">Kg Price</a></li>
                                                        <li><a href="@Url.Action("Item", "Admin")">Item List</a></li>
                                                        <li><a href="@Url.Action("Banner", "Admin")">Banner List</a></li>
                                                        <li><a href="@Url.Action("Measure", "Admin")">Measure List</a></li>
                                                        <li><a href="@Url.Action("Rack", "Admin")">Rack List</a></li>
                                                        <li><a href="@Url.Action("AdminList", "SuperAdmin")">Admin List</a></li>
                                                        <li><a href="@Url.Action("CustomerList", "SuperAdmin")">Customer List</a></li>
                                                        <li><a href="@Url.Action("Expense", "SuperAdmin")">Expense List</a></li>
                                                        <li><a href="@Url.Action("TermsRules", "SuperAdmin")">Terms and Rules</a></li>
                                                        <li><a href="@Url.Action("ChangeInformation", "SuperAdmin")">Change Information</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Reporting<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("IncomeReporting", "SuperAdmin")">Income Reporting</a></li>
                                                        <li><a href="@Url.Action("ExpenseReporting", "SuperAdmin")">Expense Reporting</a></li>
                                                        <li><a href="@Url.Action("AdminPerformReporting", "SuperAdmin")">Admin Performance Reporting</a></li>
                                                        <li><a href="@Url.Action("CustomerReporting", "SuperAdmin")">Customer Reporting</a></li>
                                                        <li><a href="@Url.Action("OrderReporting", "SuperAdmin")">Order Reporting</a></li>
                                                        <li><a href="@Url.Action("ItemReporting", "SuperAdmin")">Item Reporting</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Order<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("Onthespot", "Admin")">On The Spot</a></li>
                                                        <li><a href="@Url.Action("Online", "Admin")">Online</a></li>
                                                        <li><a href="@Url.Action("Order", "Admin")">Order List</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Hi, @Session["Role"] <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("SettingAccount", "SuperAdmin")">Setting Account</a></li>
                                                        <li><a href="@Url.Action("ChangePassword", "SuperAdmin")">Change Password</a></li>
                                                        @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                                        {
                                                            <li style="text-align:center"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else if (Session["Role"].ToString() == "Admin")
                                            {
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Order<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("Onthespot", "Admin")">On The Spot</a></li>
                                                        <li><a href="@Url.Action("Online", "Admin")">Online</a></li>
                                                        <li><a href="@Url.Action("Order", "Admin")">Order List</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Hi, @Session["Role"] @Session["Username"] <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("SettingAccount", "Admin")">Setting Account</a></li>
                                                        <li><a href="@Url.Action("ChangePassword", "Admin")">Change Password</a></li>
                                                        @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                                        {
                                                            <li style="text-align:center"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li><a href="@Url.Action("History", "Customer")">Order History</a></li>
                                                <li><a href="@Url.Action("TermsAndRules", "Customer")">Order</a></li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Hi, @Session["Username"] <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("SettingAccount", "Customer")">Setting Account</a></li>
                                                        <li><a href="@Url.Action("ChangePassword", "Customer")">Change Password</a></li>
                                                        @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                                        {
                                                            <li style="text-align:center"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Login", "Login")"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
                                            <li><a href="@Url.Action("Registration", "Login")"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register</a></li>
                                        }
                                    </ul>
                                    <div class="clearfix"> </div>
                                </div>
                            </nav>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="tittles-w3agileits" style="margin-left:50px; margin-top:10px; margin-bottom:10px;"><span style="color:red">B</span>anner <span style="color:gold">L</span>ist </h1>

    @using (Html.BeginForm("CreateBanner", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" style="margin-left:50px; margin-bottom:10px;" accept="image/*" />
        <input type="submit" id="btnUpload" style="margin-left:50px; margin-bottom:10px;" value="Upload" />
    }
    <h4 style="margin-left:50px">
        <span style="color:gold">&#9888;</span> Maximum 5 active image only will be displayed according to the name of the alphabetical order of the file.
        <br /> If there is more than 5, then other images will not be displayed
    </h4>

    <hr />
    <table id="DataTableNoSort" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="margin-bottom:10px;">
        <thead>
            <tr>
                <th class="th-sm">@Html.DisplayNameFor(model => model.Name)</th>
                <th class="th-sm">@Html.DisplayNameFor(model => model.Data)</th>
                <th class="th-sm">@Html.DisplayNameFor(model => model.Active_Banner)</th>
                <th class="th-sm">Action</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        if (item.Data != null)
                        {
                            string imageBase64 = Convert.ToBase64String(item.Data);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" width="500" height="250" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active_Banner)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditBanner", new { id = item.Id_Banner }) |
                    @Html.ActionLink("Delete", "DeleteBanner", new { id = item.Id_Banner })
                </td>
            </tr>
        }
        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Data)</th>
                <th>@Html.DisplayNameFor(model => model.Active_Banner)</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>

    @Html.Partial("Footer")

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            swal("@ViewBag.Message");
        };
        </script>
    }
</body>
</html>
