﻿@model JegErs.Tbl_Item

@{
    ViewBag.Title = "DetailsItem";
}

<h2>DetailsItem</h2>

<div>
    <h4>Tbl_Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laundry_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laundry_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DryClean_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DryClean_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Item }) |
    @Html.ActionLink("Back to List", "Index")
</p>
