﻿@model JegErs.Models.EditOrderModel

@{
    ViewBag.Title = "EditOnline";
}

@if (Session["Username"] == null)
{
    if (Session["Role"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>JegErs</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Deterge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="inner-banner-w3layouts">
        <div class="demo-inner-content">
            <!--/header-w3l-->
            <div class="header-w3-agileits" id="home">
                <div class="w3-header-bottom">
                    <div class="container">
                        <h1><a href="@Url.Action("Index", "Home")"><span class="letter">J</span>egErs<span class="square"></span></a></h1>
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="first-list"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        @if (Session["Username"] != null)
                                        {
                                            if (Session["Role"].ToString() == "SuperAdmin")
                                            {
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Master Data<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("ChangeKgPrice", "SuperAdmin")">Kg Price</a></li>
                                                        <li><a href="@Url.Action("Item", "Admin")">Item List</a></li>
                                                        <li><a href="@Url.Action("Banner", "Admin")">Banner List</a></li>
                                                        <li><a href="@Url.Action("Measure", "Admin")">Measure List</a></li>
                                                        <li><a href="@Url.Action("Rack", "Admin")">Rack List</a></li>
                                                        <li><a href="@Url.Action("AdminList", "SuperAdmin")">Admin List</a></li>
                                                        <li><a href="@Url.Action("CustomerList", "SuperAdmin")">Customer List</a></li>
                                                        <li><a href="@Url.Action("Expense", "SuperAdmin")">Expense List</a></li>
                                                        <li><a href="@Url.Action("TermsRules", "SuperAdmin")">Terms and Rules</a></li>
                                                        <li><a href="@Url.Action("ChangeInformation", "SuperAdmin")">Change Information</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Reporting<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("IncomeReporting", "SuperAdmin")">Income Reporting</a></li>
                                                        <li><a href="@Url.Action("ExpenseReporting", "SuperAdmin")">Expense Reporting</a></li>
                                                        <li><a href="@Url.Action("AdminPerformReporting", "SuperAdmin")">Admin Performance Reporting</a></li>
                                                        <li><a href="@Url.Action("CustomerReporting", "SuperAdmin")">Customer Reporting</a></li>
                                                        <li><a href="@Url.Action("OrderReporting", "SuperAdmin")">Order Reporting</a></li>
                                                        <li><a href="@Url.Action("ItemReporting", "SuperAdmin")">Item Reporting</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Order<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("Onthespot", "Admin")">On The Spot</a></li>
                                                        <li><a href="@Url.Action("Online", "Admin")">Online</a></li>
                                                        <li><a href="@Url.Action("Order", "Admin")">Order List</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Hi, @Session["Role"] <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("SettingAccount", "SuperAdmin")">Setting Account</a></li>
                                                        <li><a href="@Url.Action("ChangePassword", "SuperAdmin")">Change Password</a></li>
                                                        @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                                        {
                                                            <li style="text-align:center"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else if (Session["Role"].ToString() == "Admin")
                                            {
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Order<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("Onthespot", "Admin")">On The Spot</a></li>
                                                        <li><a href="@Url.Action("Online", "Admin")">Online</a></li>
                                                        <li><a href="@Url.Action("Order", "Admin")">Order List</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Hi, @Session["Role"] @Session["Username"] <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("SettingAccount", "Admin")">Setting Account</a></li>
                                                        <li><a href="@Url.Action("ChangePassword", "Admin")">Change Password</a></li>
                                                        @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                                        {
                                                            <li style="text-align:center"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li><a href="@Url.Action("History", "Customer")">Order History</a></li>
                                                <li><a href="@Url.Action("TermsAndRules", "Customer")">Order</a></li>
                                                <li class="dropdown">
                                                    <a href="~/Views/Shared/_Layout.cshtml" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Hi, @Session["Username"] <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" style="background-color:indianred">
                                                        <li><a href="@Url.Action("SettingAccount", "Customer")">Setting Account</a></li>
                                                        <li><a href="@Url.Action("ChangePassword", "Customer")">Change Password</a></li>
                                                        @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                                        {
                                                            <li style="text-align:center"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Login", "Login")"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
                                            <li><a href="@Url.Action("Registration", "Login")"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register</a></li>
                                        }
                                    </ul>
                                    <div class="clearfix"> </div>
                                </div>
                            </nav>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="tittles-w3agileits" style="margin-left:50px; margin-top:10px"><span style="color:red">E</span>dit <span style="color:gold">O</span>rder </h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="overflow-x:hidden">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDorder)
            @Html.HiddenFor(model => model.IDitemdetail)

            <div class="form-group">
                @Html.LabelFor(model => model.Customer_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control-static", @style = "text-align:left; width:350px; background-color:F6FCFF; border-left: 4px solid #22BCFF", @placeholder = "Customer Name" } })
                    @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control-static", @style = "text-align:left; width:350px; border-left: 4px solid #22BCFF", @placeholder = "Customer Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control-static", @style = "text-align:left; width:350px; border-left: 4px solid #22BCFF", @placeholder = "Customer Phone Number" } })
                    @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
                </div>
            </div>
            @{
                List<SelectListItem> listdeliv = new List<SelectListItem>();
                listdeliv.Add(new SelectListItem
                {
                    Text = "---Want Delivery?---",
                    Value = "",
                    Selected = true
                });
                listdeliv.Add(new SelectListItem
                {
                    Text = "Yes",
                    Value = "Yes"
                });
                listdeliv.Add(new SelectListItem
                {
                    Text = "No",
                    Value = "No"
                });

                List<SelectListItem> listpaidalrdy = new List<SelectListItem>();
                listpaidalrdy.Add(new SelectListItem
                {
                    Text = "---Customer Paid Already?---",
                    Value = "",
                    Selected = true
                });
                listpaidalrdy.Add(new SelectListItem
                {
                    Text = "Yes",
                    Value = "Yes"
                });
                listpaidalrdy.Add(new SelectListItem
                {
                    Text = "No",
                    Value = "No"
                });

                List<SelectListItem> liststatus = new List<SelectListItem>();
                liststatus.Add(new SelectListItem
                {
                    Text = "In Process",
                    Value = "Inprocess"
                });
                liststatus.Add(new SelectListItem
                {
                    Text = "Finished",
                    Value = "Finished"
                });

                List<SelectListItem> listrack = new List<SelectListItem>();

                using (JegErsContext db = new JegErsContext())
                {
                    var racklist = (from a in db.Tbl_Rack
                                    orderby a.Rack_location ascending
                                    select a
                                    );

                    foreach (var item in racklist)
                    {
                        listrack.Add(new SelectListItem
                        {
                            Text = item.Rack_location,
                            Value = item.Id_Rack.ToString()
                        });
                    }
                }
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Delivery, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Delivery, listdeliv, new { @style = "text-align:left; height:40px; width:350px; border-left: 4px solid #22BCFF" })
                    @Html.ValidationMessageFor(model => model.Delivery, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style=" display:block" id="address">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Address, new { @style = "text-align:left; height:200px; width:350px; border-left: 4px solid #22BCFF" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style=" display:block" id="delivprice">
                @Html.LabelFor(model => model.Delivery_Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Delivery_Price, new { htmlAttributes = new { @class = "form-control-static", @style = "width:350px; background-color:F6FCFF; border-left: 4px solid #22BCFF" } })
                    @Html.ValidationMessageFor(model => model.Delivery_Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Paid_Already, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DropDownListFor(model => model.Paid_Already, listpaidalrdy, new { @style = "text-align:left; height:40px; width:350px; border-left: 4px solid #22BCFF" })
                        @Html.ValidationMessageFor(model => model.Paid_Already, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Weight_KG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Weight_KG, new { htmlAttributes = new { @class = "form-control-static", @style = "text-align:left; width:350px; background-color:F6FCFF; border-left: 4px solid #22BCFF", @placeholder = "Input Berat Baju" } })
                    @Html.ValidationMessageFor(model => model.Weight_KG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Rack, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Id_Rack, listrack, htmlAttributes: new { @class = "form-control-static", @style = "text-align:center; height:40px width:350px; background-color:F6FCFF; border-left: 4px solid #22BCFF" })
                    @Html.ValidationMessageFor(model => model.Id_Rack, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Status, liststatus, new { @style = "text-align:left; height:40px; width:350px; border-left: 4px solid #22BCFF" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="divitem">
                <label class="control-label col-md-2">Input Item</label>
                <div class="col-md-10">
                    <table border="1" style="width:90%; font-weight:bold; border:solid; border-color:#22BCFF" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="th-sm">
                                    Item Name
                                </th>
                                <th class="th-sm">
                                    Measure
                                </th>
                                <th class="th-sm">
                                    Service Type
                                </th>
                                <th class="th-sm">
                                    Amount
                                </th>
                                <th class="th-sm">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="_itemlist2">
                            @{
                                for (int i = 0; i < ViewBag.Counter; i++)
                                {
                                    <tr class="_repeatExp2">
                                        <td>
                                            <select class="txtItemNames" id="items@(i)" onchange="Dropdownlistedit(@(i))" name="ObjItem[@(i)].Measure">
                                                <option value="">---Select Item---</option>
                                                @{
                                                    using (JegErsContext db = new JegErsContext())
                                                    {
                                                        var ItemList = from firstList in db.Tbl_Item
                                                                       group firstList by firstList.Item_Name into newList
                                                                       let m = newList.FirstOrDefault()
                                                                       select m;

                                                        foreach (var item in ItemList)
                                                        {
                                                            <option value="@item.Id_Measure">@item.Item_Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select class="ItemMeasures" id="measures@(i)" onchange="Dropdownlistedit2(@(i))" name="ObjItem[@(i)].Id_Item">
                                            </select>
                                        </td>
                                        <td>
                                            <select class="serviceTypes" id="services@(i)" name="ObjItem[@(i)].Servicetype">
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="ItemAmounts" name="ObjItem[@(i)].Amount" id="amounts@(i)">
                                        </td>
                                        <td>
                                            <input class="remove2" type="button" value="-">
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <input id="btnAddItem2" type="button" value="+">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" style="background-color:blue; color:white" />
                </div>
            </div>
        </div>
    }

    <div class="btn-group-sm" style="text-align:left; margin-top:10px; margin-bottom:20px; margin-left:50px">
        <input type="button" value="Back to List" onclick="location.href='@Url.Action("Online", "Admin")'" class="btn btn-default" style="background-color:gold; color:black" />
    </div>

    @Html.Partial("Footer")

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var Item = new Object();
            Item.Id_Order = $("#IDorder").val();
            var stringtemp = "";
            $.ajax({
                type: "GET",
                url: "/Admin/AjaxPopulateEdit",
                data: { Id_Order: Item.Id_Order },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        $.each(response.Table, function (index) {
                            var tamp = "#items" + index;
                            stringtemp = "<option value=" + response.Table[index].Item_Name + ">" + response.Table[index].Item_Name + "</option>"
                            $.each(response.Item, function (index2) {
                                stringtemp += "<option value=" + response.Item[index2].Item_Id + ">" + response.Item[index2].Name_Item + "</option>"
                            });
                            $("" + tamp + "").html(stringtemp);

                            var tamp2 = "#measures" + index;
                            if (response.Table[index].Measure == null) {
                                stringtemp = "<option value=" + response.Table[index].Id_Item + ">" + "Tidak ada ukuran" + "</option>";
                            } else {
                                stringtemp = "<option value=" + response.Table[index].Id_Item + ">" + response.Table[index].Measure + "</option>";
                            }
                            $("" + tamp2 + "").html(stringtemp);

                            var tamp3 = "#services" + index;
                            stringtemp = "<option value=" + response.Table[index].Servicetype + ">" + response.Table[index].Servicetype + "</option>"
                            $("" + tamp3 + "").html(stringtemp);

                            var tamp4 = "#amounts" + index;
                            $("" + tamp4 + "").val(response.Table[index].Amount)
                        });
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).on('click', '#btnAddItem2', function () {
            $.get('@Url.Action("repeat2","Admin")', function (data) {
                $('#_itemlist2').append(data);
            });

            var _time = 1000;

            setTimeout(function () {
                var i = 0;
                $('._repeatExp2').each(function () {
                    $(this).find('.txtItemNames').attr('onchange', "Dropdownlistedit(" + (i) + ")");
                    $(this).find('.txtItemNames').attr('id',"items" + (i) + "");
                    $(this).find('.txtItemNames').attr('name', "ObjItem[" + (i) + "].Measure");
                    $(this).find('.ItemMeasures').attr('onchange', "Dropdownlistedit2(" + (i) + ")");
                    $(this).find('.ItemMeasures').attr('id', "measures" + (i) + "");
                    $(this).find('.ItemMeasures').attr('name', "ObjItem[" + (i) + "].Id_Item");
                    $(this).find('.ItemAmounts').attr('id', "amounts" + (i) + "");
                    $(this).find('.ItemAmounts').attr('name', "ObjItem[" + (i) + "].Amount");
                    $(this).find('.serviceTypes').attr('id', "services" + (i) + "");
                    $(this).find('.serviceTypes').attr('name', "ObjItem[" + (i) + "].Servicetype");
                    i++;
                });
            }, _time);
        });

        $(document).on('click', '.remove2', function () {
                $('.remove').removeClass('_MyaddedClass1');
                $(this).addClass('_MyaddedClass1');
                swal({
                    title: "Are you sure?",
                    text: "You want to remove this details!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                },
                    function () {
                        $('._MyaddedClass1').parent().parent().remove();
                        var i = 0;
                        $('._repeatExp2').each(function () {
                            $(this).find('.txtItemNames').attr('onchange', "Dropdownlistedit(" + (i) + ")");
                            $(this).find('.txtItemNames').attr('id', "items" + (i) + "");
                            $(this).find('.txtItemNames').attr('name', "ObjItem[" + (i) + "].Measure");
                            $(this).find('.ItemMeasures').attr('onchange', "Dropdownlistedit2(" + (i) + ")");
                            $(this).find('.ItemMeasures').attr('id', "measures" + (i) + "");
                            $(this).find('.ItemMeasures').attr('name', "ObjItem[" + (i) + "].Id_Item");
                            $(this).find('.ItemAmounts').attr('id', "amounts" + (i) + "");
                            $(this).find('.ItemAmounts').attr('name', "ObjItem[" + (i) + "].Amount");
                            $(this).find('.serviceTypes').attr('id', "services" + (i) + "");
                            $(this).find('.serviceTypes').attr('name', "ObjItem[" + (i) + "].Servicetype");
                            i++;
                        });
                    });
        });
    </script>

    <script type="text/javascript">
        function Dropdownlistedit(param) {
            var tamp = "#items" + param;
            var tamp2 = "#measures" + param;
            var Item = new Object();
            var DDMeasure = "";
            DDMeasure = "<option selected disabled>---Select Measure Type---</option>";
            Item.Item_name = $(tamp + ' option:selected').text();
            $.ajax({
                type: "GET",
                url: "/Admin/AjaxPostEditCall",
                data: { Item_name: Item.Item_name },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        $.each(response, function (index) {
                            if (response[index].Measure1 == null) {
                                DDMeasure += "<option value=" + response[index].Id_Item + ">" + "Tidak ada ukuran" + "</option>";
                            } else {
                                DDMeasure += "<option value=" + response[index].Id_Item + ">" + response[index].Measure1 + "</option>";
                            }
                        });
                        $("" + tamp2 + "").html(DDMeasure);
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>

    <script type="text/javascript">
        function Dropdownlistedit2(param) {
            var tamp = "#measures" + param;
            var tamp2 = "#services" + param;
            var Item = new Object();
            var DDMeasure = "";
            DDMeasure = "<option selected disabled>---Select Service Type---</option>";
            Item.Id_Item = $(tamp).val();
            $.ajax({
                type: "GET",
                url: "/Admin/AjaxPostEditCall2",
                data: { Id_Item: Item.Id_Item },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        if (response.Laundry_Price != null) {
                            DDMeasure += "<option value=" + "Laundry" + ">" + "Laundry Price" + "</option>";
                        }
                        if (response.DryClean_Price != null) {
                            DDMeasure += "<option value=" + "DryClean" + ">" + "Dry Clean Price" + "</option>";
                        }
                        $("" + tamp2 + "").html(DDMeasure);
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            return !(charCode > 31 && (charCode < 48 || charCode > 57));
        }
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            swal("@ViewBag.Message");
        };
        </script>
    }
</body>
</html>

