﻿<tr class="_repeatExp">
    <td>
        <select class="txtItemName" id="item0" onchange="Dropdownlist(0)" name="ObjItem[0].Measure">
            <option value="">---Select Item---</option>
            @{
                using (JegErsContext db = new JegErsContext())
                {
                    var ItemList = from firstList in db.Tbl_Item
                                   group firstList by firstList.Item_Name into newList
                                   let m = newList.FirstOrDefault()
                                   select m;

                    foreach (var item in ItemList)
                    {
                        <option value="@item.Id_Measure">@item.Item_Name</option>
                    }
                }
            }
        </select>
    </td>
    <td>
        <select class="ItemMeasure" id="measure0" onchange="Dropdownlist2(0)" name="ObjItem[0].Id_Item">
        </select>
    </td>
    <td>
        <select class="serviceType" id="service0" name="ObjItem[0].Servicetype"></select>
    </td>
    <td>
        <input type="number" class="ItemAmount" name="ObjItem[0].Amount" min="1" onkeypress="return isNumberKey(event)">
    </td>
    <td>
        <input class="remove" type="button" value="-">
    </td>
</tr>
