﻿
<tr class="_repeatExp2">
    <td>
        <select class="txtItemNames" id="items0" onchange="Dropdownlistedit(0)" name="ObjItem[0].Measure">
            <option value="">---Select Item---</option>
            @{
                using (JegErsContext db = new JegErsContext())
                {
                    var ItemList = from firstList in db.Tbl_Item
                                   group firstList by firstList.Item_Name into newList
                                   let m = newList.FirstOrDefault()
                                   select m;

                    foreach (var item in ItemList)
                    {
                        <option value="@item.Id_Measure">@item.Item_Name</option>
                    }
                }
            }
        </select>
    </td>
    <td>
        <select class="ItemMeasures" id="measures0" onchange="Dropdownlistedit2(0)" name="ObjItem[0].Id_Item">
        </select>
    </td>
    <td>
        <select class="serviceTypes" id="services0" name="ObjItem[0].Servicetype">
        </select>
    </td>
    <td>
        <input type="number" class="ItemAmounts" name="ObjItem[0].Amount" id="amounts0" min="1" onkeypress="return isNumberKey(event)">
    </td>
    <td>
        <input class="remove2" type="button" value="-">
    </td>
</tr>