﻿<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>JegErs</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Deterge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <!-- Custom-Stylesheet-Links -->
    <!-- Bootstrap-CSS -->
    @Styles.Render("~/Content/css")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- //Custom-Stylesheet-Links -->
    <!--web-fonts-->
    <!-- Logo-font -->
    <link href="//fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700" rel="stylesheet">
    <!-- Body-font -->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Headings-font -->
    <link href="//fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet">
    <!--//web-fonts-->
    <!--//fonts-->
    <!-- js -->
</head>

<body>
    <!-- header -->
    @RenderBody()
    <!--/banner-section-->
    <!-- //smooth scrolling -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- requried-jsfiles-for owl -->
    <script>
        $(document).ready(function () {
            $("#owl-demo2").owlCarousel({
                items: 1,
                lazyLoad: false,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

    <script>
        function ShowHideDiv(checkBox) {
            var div = document.getElementById('divitem');
            if (checkBox.checked)
                div.style.display = 'block';
            else
                div.style.display = 'none';
        }
    </script>

    <script type="text/javascript">
        $("#Delivery").bind("change", function (event, ui) {
            var value = $(this).val();
            var div = document.getElementById('delivprice');
            var div2 = document.getElementById('address');
            if (value == "Yes") {
                if (div != null) {
                    div.style.display = 'block';
                }
                if (div2 != null) {
                    div2.style.display = 'block';
                }
            }
            else {
                if (div != null) {
                    div.style.display = 'none';
                }
                if (div2 != null) {
                    div2.style.display = 'none';
                }
            }
        })
    </script>

    <script type="text/javascript">
        $("#ModelOrder_Delivery").bind("change", function (event, ui) {
            var value = $(this).val();
            var div = document.getElementById('delivprice');
            var div2 = document.getElementById('address');
            if (value == "Yes") {
                if (div != null) {
                    div.style.display = 'block';
                }
                if (div2 != null) {
                    div2.style.display = 'block';
                }
            }
            else {
                if (div != null) {
                    div.style.display = 'none';
                }
                if (div2 != null) {
                    div2.style.display = 'none';
                }
            }
        })
    </script>

    @RenderSection("Scripts", false)
</body>
</html >
