﻿<div class="footer w3layouts" style=overflow-x:hidden>
    <div class="container">
        <div class="footer-row w3layouts-agile">
            <div class="col-md-3 footer-grids w3l-agileits">
                <h6><a href="@Url.Action("Index", "Home")"><span class="f-letter">J</span>egErs<span class="f-square"></span></a></h6>
            </div>
            <!--
                <div class="col-md-3 footer-grids w3l-agileits">
                    <h3>Address</h3>
                    <p>Jl. Tanjung Sektor 1-1, Blok RB2 No. 10, Rawa Buntu, BSD.</p>
                    <p>Blok RB2 No. 10,</p>
                    <p>Rawa Buntu, BSD.</p>
                </div>
                <div class="col-md-3 footer-grids w3l-agileits">
                    <h3>Connect with us</h3>
                    <div class="agileinfo-social-grids">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 footer-grids w3l-agileits">
                    <h3>Questions....?</h3>
                    <p>+0 123 456 789<p>
                    <p><a href="mailto:jegerslaundry@gmail.com">jegerslaundry@gmail.com</a></p>
                </div>
            -->

            @using (JegErsContext db = new JegErsContext())
            {
                var info = db.Tbl_Jegers_Info;

                foreach (var item in info)
                {
                    <div class="col-md-3 footer-grids w3l-agileits" style="text-align:center">
                        <h3>Address</h3>
                        <p>@item.Address</p>
                    </div>

                    <div class="col-md-3 footer-grids w3l-agileits" style="text-align:center">
                        <h3>Connect with us</h3>
                        @if (item.Socmed_1 != null)
                        {
                            <p><a href="http://@item.Socmed_1" target="_blank">@item.Socmed_1</a></p>
                            if (item.Socmed_2 != null)
                            {
                                <p><a href="http://@item.Socmed_2" target="_blank">@item.Socmed_2</a></p>
                                if (item.Socmed_3 != null)
                                {
                                    <p><a href="http://@item.Socmed_3" target="_blank">@item.Socmed_3</a></p>
                                }
                            }
                        }
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-3 footer-grids w3l-agileits" style="text-align:center">
                        <h3>Questions....?</h3>
                        <p>@item.Phone_Number<p>
                        <p><a href="mailto:@item.Email" target="_blank">@item.Email</a></p>
                    </div>
                }
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="copyright-wthree">
    <div class="container">
        <p>&copy; 2020 JegErs . All Rights Reserved | Design by Christopher &amp; Yulius</p>
    </div>
</div>